/* *{   OK
    margin:0;
    padding:0;
    box-sizing: border-box; 
} */
/* body{ OK
    background-image: url("../img/fondo_liso.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-bottom:50px;
} */

/* menu de navegacion */
/* .menu1{ OK
    background: rgb(231,139,179);
    background: linear-gradient(342deg, 
    rgba(231,139,179,0.9716058298319328) 7%, 
    rgba(139,162,246,0.9716058298319328) 100%);
    font-size: 20px;
} */

/* .menu{ YA NO VA
    border: 1px solid #cfbaf0; 
    background: rgb(231,139,179);
    background: linear-gradient(342deg, 
    rgba(231,139,179,0.9716058298319328) 7%, 
    rgba(139,162,246,0.9716058298319328) 100%);
    text-align: right;
    padding: 20px;
} */

/* .menu li{ YA NO VA
    display:inline-block;
    font-size: 20px; 
    padding: 6px;
    position: relative;  
    border-right: 1px solid black;
} */
/* .submenu{ YA NO VA
    position: absolute;
    display: none;
    text-align: left;
   */
/* }
.submenu li{ YA NO VA 
    display:block;
    padding: 5px;
    background: rgb(231,139,179);
    background: linear-gradient(380deg, 
    rgba(231,139,179,0.9716058298319328) 40%, 
    rgba(139,162,246,0.9716058298319328) 80%);;
    border: 1px solid black;
    width:auto;
}
.menu li:hover .submenu{ YA NO VA
    display:block;
    
}  */
/* .dropdown-menu{  OK
    background: rgb(231,139,179);
    background: linear-gradient(400deg, 
    rgba(231,139,179,0.9716058298319328) 40%, 
    rgba(139,162,246,0.9716058298319328) 80%);
}    */
/* .dropdown-menu  li{  OK
    border-bottom: 1px solid rgb(185, 88, 185);
} */
/* .dropdown-menu :hover{  OK
background-color: lightblue;
} */
/* .carrito{  OK
    width: 25px;
    height: 20px;
} */
/* .wppLogo{    OK
    width: 80px;
    height: 80px;        
} */

/*------------------- INDEX -------------
------------------MAIN--------------*/

/* .tituloPrincipal{  OK
    font-family: 'Dynalight', cursive;
    font-size: 125px;
    font-weight: lighter;
    text-align: center;
    color: #9d4edd;
    padding: 20px;
    max-width:600px;
	margin:auto;
} */
/* .logoPrincipal{ OK
display: inline-block;
position: absolute;
border-radius: 30px;
padding-right: 5px;
padding-top:60px;
padding-left: 5px;
width: 250px;
} */
/* .wppFlotante{    OK
    position: fixed;
    z-index: 5000;
    left: 0px;
} */
/* .wppParrafo{   OK
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding:2px;
    width: 105px;
    margin-left: 10px;
} */
/* titulos secundarios del index */
/* .subtitulos{  OK
    background-color:antiquewhite ;
    text-align: center;
    font-size: 40px;
    font-family: 'Emilys Candy',cursive;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 8px;
} */

/* .parrafosIndex{  OK
    font-family:'Emilys Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    font-size: 30px;
    margin: 30px;
} 
.bordesIndex{  OK
    border-radius: 25px;
    border: 2.5px solid black;
    line-height: 40px;
    padding: 15px;  
} */

/* hr{ OK
    border: 1px dashed #9d4edd;
} */


/* reposteria,decoracion y porcelana index grid */
/* .gridIndex{   OK
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "img text" 
    "img  .";
}
.img{  OK
    grid-area: imagenGridindex;
}
.text{  OK
    grid-area: textoGridindex;
}
.link{  OK
    display: none;
    grid-area: linkGridindex;
} */

/* .imagenRepo{  OK
    margin-left: 20px;
    height: 250px;
    width: 500px;
} */
/* .imagenDeco{  OK
margin-left: 20px;
height: 300px;
width: 500px;
} */
/* .imagenPorce{  OK
margin-left: 20px;
height: 250px;
width: 500px;
} */
/* .imagenTransicion{ NOSE QUE HACER
height: 250px;
width: 500px;
transition: all 2s;
}
.imagenTransicion:hover{ SI USARLA O NO
    width: 600px;
    height: 330px;
} */

/*.link{ OK PERO NO VA MAS ME PARECE
    text-align: center;
    margin-bottom:25px
}*/
/* .redes{ NO VA
    text-align: center;
    font-family:'Emilys Candy',cursive;
} */

/* .presentacion{  NO VA
    text-align: center;
} */
/*--------------  Pagina Quienes somos -------------*/
/* 
.parrafos02{  OK
    font-family:'Emilys Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: 30px;
    padding: 5px;
    width: 900px;
    text-align: center;
    margin-left:60px;
    margin-right: 40px;
    font-size: 25px;
    border-radius: 30px;
} */
/* .imagenQuienes{  OK
    width: 790px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 30px;
} */
/* --------------reposteria---------------- */

/* .parrafosRepo{  OK
    font-family:'Emilys Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    font-size: 30px;
    margin: 30px;
    text-align: left;
    width: 800px;
    margin-left: 220px;
    border-radius: 30px;
    padding: 20px;
    border: 20px;
} */
/* .escribinos{  OK
    font-family:'Emilys Candy',cursive;
    border: 2px solid black;
    background-color: antiquewhite;
    font-size: 25px;
    margin: 30px 30px 30px 220px;
    text-align: center;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
    width: 800px;
    height: 120px;
    } */
/* .pastel1{ OK
    border-radius: 30px;
    height:445px;
    width:345px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 450px;
} */
/* .contenedorCarousel1{ OK
    width: 500px;
    height: 506px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
    border: 3px solid black;
} */
/* .img1{  OK
    width: 500px;
    height: 500px;
} */

/* .contenedorCarousel2{  OK
    width: 550px;
    height: 556px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    border: 3px solid black;
}
.img2{    OK
    width: 550px;
    height: 550px;
} */


/*--------------------- Pagina Decoracion de tortas --------------------*/

/* .bordes{ OJO PROBLEMAS  EN REPO NO HAY BORDES
    border-radius: 25px;
    border: 2.5px solid black;
  } */
/* .parrafos{
    font-family:'Emilys Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    font-size: 30px;
    margin: 30px;
} */
/* .parrafosDeco{  OK
    font-family:'Emilys Candy',cursive;
    border: 2px solid black;
    background-color: antiquewhite;
    font-size: 25px;
    text-align: left;
    width: 900px;
    margin-left: 120px;
    border-radius: 30px;
    padding: 15px;
} */
/* .pastel2{ OK
    border:1px solid black;
    border-radius: 25px;
    margin-top:20px;
    margin-bottom: 30px;
    margin-left: 300px;
    height:445px; 
    width:360px; 
} */

/* .pastel3{  OK
    border:1px solid black;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 445px;
    width: 345px;
}
 */
/* .fondoDeco{   DE QUE ES?
    background-color: lightblue;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border:1px solid black
} */
/* ------------------- porcelana Fria ------------------ */
/* .parrafoPorce{  OK
    font-family:'Emilys Candy',cursive;
    border: 2px solid black;
    background-color: antiquewhite;
    font-size: 25px;
    margin: 30px;
    text-align: left;
    width: 900px;
    margin-left: 120px;
    border-radius: 30px;
    padding: 20px;
} */
/* ---------------pagina de contacto----------------- */
/* .parrafoFormu{       OK
    font-family:'Emilys  Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    font-size: 25px;
    text-align: center;
    width: 900px;
    margin-left: 150px;
    border-radius: 30px; 
    padding: 20px;
} */
/* .formulario div{    OK
    margin-bottom: 20px;
} */
/* .parrafos{  OK
    width: 1000px;
} */
/* .separacion{  OK
    margin-top: 20px;
    margin-bottom: 20px;
} */
/* .formulario{  NO USADO
    text-align: center;
} */
/* .parrafoCompletar{   ¿DE QE ES?
    line-height: 70px;
    font-family:'Emilys Candy',cursive;
    border: 1px solid black;
    background-color: antiquewhite;
    font-size: 30px;
    margin: 30px;
    border-radius: 30px;
} */
/* .botones{   OK
text-decoration:none;
font-weight: 600px;
font-size: 17px;
color:#333333;
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
background-color:#FFD27D;
border-color: #d8d8d8;
border-width: 4px;
border-style: solid;
border-radius:35px;
} */
/* .boton{  OK
    margin-top: 20px;
} */
/* .botonesContacto{  OK
margin-bottom: 20px;
} */
/* .cajaContacto{  OK
margin-top: 5px;
margin-bottom: 5px;
padding-bottom: 5px;
width: 750px;
height: 250px;
} */
/* .cajaArchivos{  OK
    display: inline-block;
    width: 450px;
} */
/* .c jaSelect{   OK
margin-left: 350px;
    width: 300px;
}  */
/* .bordeFormu{
    border: 1px dashed rgb(65, 63, 63);
    border-radius: 15px;
    padding: 15px;
    background-color: #a5a3a362;
} */
/*--------------- footer --------------------*/
/* .pagos{
    display:flex; 
    padding: 20px 20px; 
    border: 5px 5px;
    justify-content: space-between;
} */
/* .wpp{ NO HACE NADA
    margin-right:100px;  
} */
/* .footerTexto{  OK
    border: 1px dashed black;
    background-color: lightcyan;
    font-family: 'Emilys Candy',cursive;
    line-height: 22px;
    font-size: 20px;
    width: 280px;
} */
/* .footerTextoDos{
    width: 250px;
} */
/* .footerTextoTres{
    width: 200px;
} */
/* .tarjeta{
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
} */
/* .candado{
    width: 40px;
    margin-left:5px
} */

/*  .pagosFondo{
    background: rgb(231,139,179);
background: radial-gradient(circle, rgba(231,139,179,1) 7%, rgba(139,162,246,1) 100%);
} */

/* GRID FOOTER */
/* .grid{  OK
    padding-top:20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: (3 440px);
    grid-template-rows: (1 1fr);
    
    grid-template-areas:
    
    "google seguinos logoFinal"
    "google seguinos logoFinal"
    "google seguinos logoFinal"
    "google seguinos logoFinal"
}
.google{ OK
    grid-area:google;
    width: 250px;
    height: 250px;
}
.seguinos{
    grid-area:seguinos;
 }
.logoFinal{  OK
    width: 290px;
    grid-area:logoFinal;
} */
/* .grid{
    background: rgb(231,139,179);
    background: radial-gradient(circle, 
    rgba(231,139,179,1) 7%, 
    rgba(139,162,246,1) 100%);
} */
/* .seguinosH2{
    font-family:'Emilys Candy',cursive;
    font-size: 28px;
} */
/* .iconosRedes{    OK
    position: relative;
    left: 60px;
}
.youtube{   OK
    width: 80px;
}
.facebook{    OK
    width: 70px;
}
.instagram{     OK
    width: 80px;
}
.twitter{OK
    width: 70px;
} */
/* .envianosH2{ ELIMINADO
font-family: 'Emilys Candy',cursive;
padding-left:77px;
font-size: 28px;
} */
/* .wpp{
    position: relative;
    left: 180px;
    width: 90px;
} */
/* .banner{   OK
    width: auto;
    height: auto;
    margin-left: 280px;
} */
/* .wppFooter{   OK
    width: 60px;
} */
/*   */
/* ----------MEDIAS QUERIES-------------------------------- */
/* ------------ tablet ------------------- */
/* @media (min-width:481px) and (max-width:768px) { */
  /*   .gridIndex{ OK
        grid-template-columns:768px;
        grid-template-areas: 
        "img";
    }
    .text{  OK
        display: none;
    }
    .link{   OK
        display: none;
    } */
/*     .tituloPrincipal{   OK
        font-size: 95px;
        color: #9d4edd;
        width:450px;
        text-align: center;
    } */
/*     .logoPrincipal{    OK
        width: 200px;
        padding-top: 40px;
        padding-right: 20px;
    } */

/*   .imagenTransicion{   FALTA
        transition: "width" 3s;
    }
    .imagenTransicion:hover{   FALTA 
        width: 400px;
    } */
  /*   .parrafosIndex{
        font-size: 22px;
        width: auto;
        height: auto;
        margin: 10px;
    } */
/*     .quienes{
        height: 300px;
        width: 670px;
        margin-left: 40px;
    } */
/*     .boton{ LO PUSE PERO EN COMENTARIO
        position:relative;
        top: 10px;
        bottom: 150px;
        right: 300px;
        width: 300px;
        height: 100px;
    } */
/*     .bordes{  OK
        margin-top: 40px;
        width: 400px;
        height: 250px;
    }
    .imagenRepo{   OK
        margin-top: 25px;
        margin-left:40px;
    }
    .imagenDeco{   OK
    margin-top: 24px;
    margin-left: 40px;
    }
    .imagenPorce{   OK
    margin-top: 24px;
    margin-left: 40px;
    } */
   /*  .wppFlotante{   OK
    position: fixed;
    left:0px;
    }
    .wppParrafo{    OK
    margin-left: 10px ;
    width: 105px;
    background-color: antiquewhite; 
    }
    .wppLogo{    OK
    width: 80px;
    height: 80px;        
    } */
    /*  ----------FOOTER---------------*/
/*     .google{   OK
    margin-top: 40px;
    width: 170px;
    height: 200px;
    margin-right: 15px;
    border-radius: 20px;
    } */
/*     .iconosRedes{   OK
        position: relative;
        padding: 10px;
        left: 30px;
    }
    .youtube{   OK
    width: 70px;
    }
    .facebook{   OK
    width: 70px;
    }
    .instagram{   OK
    width: 70px;
    }
    .twitter{   OK
    width: 70px;
    } */
/*     .seguinosH2{   OK
    font-size: 25px; 
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    } */
   /*  .envianosH2{ SE VAAA
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 40px;
    padding: 10px;
    }  */
/*     .wpp{   OK
    position: relative;
    left: 140px;
    width: 70px;
    } */
/*     .logoFinal{
    display:flex;
    margin-top: 40px;
    margin-right: 15px;
    border-radius: 20px;
    width: 180px;
    height: 200px;
    padding-left: 15px;
    } */
    /* .banner{
        margin-left: 50px;
    } */
    /*------ quienes somos? ---------------*/
   /*  .parrafos02{   OK
        margin-left: 50px;
        padding: 10px 10px 10px 10px;
        width: 650px;
        font-size: 22px;
    } */

 /*    .imagenQuienes{  OK
    margin-left: 80px;
    height: 500px;
    width: 600px;
    }  */
    /* -----------Reposteria------------- */
/*     .parrafosRepo{  OK
    width: 500px;
    height: 500px;
    margin-left: 150px;
    font-size: 22px;
    margin-bottom: 30px ;
    margin-top: 40px;
    } */
/*   .escribinos{  OK
    margin: 20px 20px 20px 80px;
    font-size: 22px;
    width: 580px;
    height: 120px;
    } */
/*     .contenedorCarousel1{  OK
    box-sizing: border-box;
    width: 400px;
    height: 406px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 180px;
    border: 3px solid black;
    border-radius: 20px;
    } */
/*   .img1{
        width: 400px;
        height: 400px;
        border-radius: 20px;
    } */

/*     .pastel1{   OK
    margin-left: 120px;
    width: 400px;
    height: 350px;
    } */
/*------------ DECORACION DE TORTAS --------------------*/
  /*   .subtitulos{   OK
    font-size: 35px;
    } */
 /*    .contenedorCarousel2{  OK
    box-sizing: border-box;
    width: 400px;
    height: 406px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 150px;
    border: 3px solid black;
    border-radius: 20px;
    } */
/*     .img2{   OK
        width: 400px;
        height: 400px;
        border-radius: 20px;
    } */

/*     .parrafosDeco{
        width: 580px;
        height: 380px;
        font-size: 22px;
        margin-left: 80px;
        margin-bottom: 30px ;
        margin-top: 40px;
    } */
/*     .pastel2{
    width: 340px;
    height: 440px;
    margin-left: 50px;
    } */
 /*    .pastel3{
    width: 340px;
    height: 440px;
    } */
/* -------------------- PORCELANA FRIA ----------------- */
/*     .parrafoPorce{   OK
    padding: 10px 10px 10px 10px;
    margin-left:90px;
    width: 580px;
    height: 390px;
    font-size: 22px;
    } 
     */
/*------------------ CONTACTO -----TODO OK------------------------*/
/*     .parrafoFormu{  OK
    margin-left: 20px;
    font-size: 22px;
    width: 680px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    } */
  /*   .cajaContacto{   OK
    width: 480px; 
    } */
/*     .parrafoCompletar{  OK 
    font-size: 16px;
    } */
/*     .cajaSelect{   OK
    margin-left:200px;
    width: 250px;
    }  */
/*     .cajaArchivos{  OK
    width: 350px;
    } */
 /*--------footer -------------------*/

 /*    .pagos{  OK
    padding: 10px;
    }  */
/*     .wppFooter{  OK
        margin-top:15px;
        width: 50px;
        height: 60px;
    }
    .footerTexto{   OK
        font-size: 15px;
        margin: 5px;
    } 
    .tarjeta{    OK
        margin-top: 25px;
        width: 40px;
        height: 40px;
    } */
/*     .candado{   OK
        margin-top: 25px;
        width: 45px;
        height: 50px;
    } */
   /*  .copyright{    OK
        font-size: 10px;
    } */
/* }  */

/* celular (mas chico) *//* (min-width:360px) and */ 
/* @media(max-width:480px){ */
   /*  .gridIndex{    OK
        grid-template-columns:480px;
        grid-template-areas: 
        "img";
    }
    .text{
        display: none;
    }
    .link{
        display: none;
    } */
/*     .link{
        right: 200px;
        bottom:200px;
    } */
   /*  .imagenTransicion{
        transition: "none" 3s;
        }
    .imagenTransicion:hover{
        width: 400px;
    } */
/*     .boton{ NO LO USO
        position:relative;
        top: 50px;
        right: 350px;
        width: 300px;
        height: 100px;
    } */
/*     .tituloPrincipal{  OK
    font-size: 50px;
    color: #9d4edd;
    width:350px;
    margin-left: 80px;
    text-align: center;
} */
   /*  .logoPrincipal{  OK
        width: 100px;
        padding-top: 40px;
    } */
  /*   .parrafosIndex{
        display: none;
    }
    .bordes{  OK
        width: 400px;
        height: 250px;
    }
    .imagenRepo{
        margin-top: 30px;
        margin-left:40px;
    }
    .imagenDeco{
    margin-top: 24px;
    margin-left: 40px;
    }
    .imagenPorce{
    margin-top: 24px;
    margin-left: 40px;
    } */
   /*  .wppFlotante{    OK
    position: fixed;
    left:0px;
    }
    .wppParrafo{    OK
    margin-left: 10px;
    width: 105px;
    background-color: antiquewhite; 
    }
    .wppLogo{    OK
    width: 60px;
    height: 60px;        
    } */
 /*    .iconos{
        margin-left: 0px;
        height:70%;
        max-width:100%;
    } */
  /*   .banner{
        margin-left:10px;
        width: 450px;
    } */
    /*  -------------------------*/
    /* .grid{   OK
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "seguinos";
    }
    .google{    OK
        display: none;
    } */
  /*   .seguinosH2{  OK
    font-size: 18px;
    margin-left: 40px;
    margin-top: 20px;
    text-align: start;
    } */
    /* .youtube{
    width: 50px;
    }
    .facebook{
        width: 50px;
    }
    .instagram{
    width: 50px;
    }
    .twitter{
    width: 50px;
    }
    .iconosRedes{
    position: relative;
    left: 1px;
    margin-top: 11px;
    margin-bottom: 5px;
    margin-left: 80px;
    } */
    /* .envianosH2{ YAA NO VA
    text-align: start;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 40px;
    padding: 10px;
    } */
  /*   .wpp{   OK
    position: relative;
    left: 90px;
    margin-left: 70px;
    height: 40px;
    width: 50px;
    } */
  /*   .logoFinal{  OK
    display: none;
    width: 100px;
    } */
    /*------ quienes somos? ---------------*/
 /*    .parrafos02{  OK
    font-size: 15px;
    margin-left: 30px;
    } */
  /*   .imagenQuienes{  OK
    margin-left: 20px;
    height: 300px;
    width: 400px;
    }  */
    /* -----------Reposteria------------- */
/*     .parrafosRepo{  OK
    width: 390px;
    height: 410px;
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 20px ;
    } */
/*     .escribinos{
    font-size: 17px;
    margin-left:25px;
    width: 400px;
    height: 115px;
    } */
 /*    .contenedorCarousel1{ OK
    box-sizing: border-box;
    width: 256px;
    height: 256px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    border: 3px solid black;
    border-radius: 20px;
    } */
/*     .img1{
        width: 250px;
        height: 250px;
        border-radius: 20px;
    } */
/*     .imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    } */
    /* .pastel1{  OK
    margin-left: 50px;
    width: 300px;
    height: 345px;
    }
    */
/*------------ DECORACION DE TORTAS --------------------*/
 /*    .subtitulos{   OK
    font-size: 25px;
    } */
/*     .contenedorCarousel2{
    box-sizing: border-box;
    width: 256px;
    height: 256px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    border: 3px solid black;
    border-radius: 18px;
    } */
/*     .img2{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    } */

/*     .parrafosDeco{  OK
    font-size: 17px;
    width: 360px;
    margin-left: 50px;
    padding: 15px;  
    } */
  /*   .pastel2{  OK
    width: 300px;
    height: 345px;
    margin-left: 50px;
    } */
/*     .pastel3{  OK
    width: 300px;
    height: 345px;
    } */
/* -------------------- PORCELANA FRIA ----------------- */
/*     .parrafoPorce{
    margin-left:50px;
    width: 370px;
    height: 340px;
    padding-top: 5px;
    font-size: 17px;
    }  */

/*------------------ CONTACTO -----------------------------*/
/*     .parrafoFormu{
    margin-left: 20px;
    font-size: 17px;
    width: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .cajaContacto{
    width: 385px;
    }
    .parrafoCompletar{
    font-size: 16px;
    }
    .cajaSelect{
    margin-left:110px;
    width: 150px;
    font-size: 10px;
    } 
    .cajaArchivos{
    width: 350px;
    } */
 /*--------footer -------------------*/
/* 
    .pagos{ TODO OK
    padding: 10px;
    } 
    .wppFooter{
        margin-top: 25px;
        width: 50px;
        height: 60px;
    }
    .footerTexto{
        font-size: 10px;
        margin: 5px;
    }
    .tarjeta{
        margin-top: 25px;
        width: 40px;
        height: 40px;
    }
    .candado{
        margin-top: 25px;
        width: 45px;
        height: 50px;

    }
    .copyright{
        font-size: 10px;
    } */
/* } */