* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.menu1 {
  background: #e78bb3;
  background: linear-gradient(342deg, rgba(231, 139, 179, 0.971606) 7%, rgba(139, 162, 246, 0.971606) 100%);
  font-size: 20px; }

body {
  background-image: url("../img/fondo_liso.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px; }

.dropdown-menu {
  background: #e78bb3;
  background: linear-gradient(400deg, rgba(231, 139, 179, 0.971606) 40%, rgba(139, 162, 246, 0.971606) 80%); }
  .dropdown-menu li {
    border-bottom: 1px solid #b958b9; }
  .dropdown-menu :hover {
    background-color: lightblue; }

.carrito {
  width: 25px;
  height: 20px; }

.logoPrincipal {
  display: inline-block;
  position: absolute;
  border-radius: 30px;
  padding-right: 5px;
  padding-top: 60px;
  padding-left: 5px;
  width: 250px; }

.tituloPrincipal {
  font-family: 'Dynalight', cursive;
  font-size: 125px;
  font-weight: lighter;
  text-align: center;
  color: #9d4edd;
  padding: 20px;
  max-width: 600px;
  margin: auto; }

.wppFlotante {
  position: fixed;
  z-index: 5000;
  left: 0px; }
  .wppFlotante .wppLogo {
    width: 80px;
    height: 80px; }
  .wppFlotante .wppParrafo {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    width: 90px;
    margin-left: 10px; }

.subtitulos {
  background-color: antiquewhite;
  text-align: center;
  font-size: 40px;
  font-family: 'Emilys Candy',cursive;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: 8px; }

.gridIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img text"  "img  ."; }
  .gridIndex .img {
    grid-area: imagenGridindex; }
  .gridIndex .text {
    grid-area: textoGridindex; }
  .gridIndex .link {
    display: none;
    grid-area: linkGridindex; }
  .gridIndex .bordes {
    border-radius: 25px;
    border: 2.5px solid black; }
  .gridIndex .imagenRepo {
    margin-left: 20px;
    margin-top: 45px;
    height: 250px;
    width: 500px; }
  .gridIndex .imagenDeco {
    margin-left: 20px;
    height: 300px;
    width: 500px; }
  .gridIndex .imagenPorce {
    margin-left: 20px;
    margin-top: 40px;
    height: 250px;
    width: 500px; }

.link {
  text-align: center;
  margin-bottom: 25px; }

.parrafosIndex {
  font-family: 'Emilys Candy',cursive;
  border: 1px solid black;
  background-color: antiquewhite;
  font-size: 30px;
  margin: 30px; }

.bordesIndex {
  border-radius: 25px;
  border: 2.5px solid black;
  line-height: 40px;
  padding: 15px; }

/*------------ FOOTER ----------------------*/
.grid {
  background: #e78bb3;
  background: radial-gradient(circle, #e78bb3 7%, #8ba2f6 100%);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 3 440px;
  grid-template-rows: 1 1fr;
  grid-template-areas: "google seguinos logoFinal" "google seguinos logoFinal" "google seguinos logoFinal" "google seguinos logoFinal"; }
  .grid .google {
    grid-area: google;
    width: 250px;
    height: 250px; }
  .grid .seguinos {
    grid-area: seguinos; }
    .grid .seguinos H2 {
      font-family: 'Emilys Candy',cursive;
      font-size: 28px;
      text-align: center;
      margin-top: 20px; }
  .grid .logoFinal {
    width: 250px;
    grid-area: logoFinal; }
  .grid .iconosRedes {
    position: relative;
    left: 100px; }
    .grid .iconosRedes .youtube {
      width: 80px; }
    .grid .iconosRedes .facebook {
      width: 70px; }
    .grid .iconosRedes .instagram {
      width: 80px; }
    .grid .iconosRedes .twitter {
      width: 70px; }
  .grid .wpp {
    position: relative;
    left: 220px;
    width: 80px; }

.pagosFondo {
  background: #e78bb3;
  background: radial-gradient(circle, #e78bb3 7%, #8ba2f6 100%); }
  .pagosFondo .banner {
    width: 600px;
    height: auto;
    margin-left: 230px; }
  .pagosFondo .pagos {
    display: flex;
    padding: 20px 20px;
    border: 5px 5px;
    justify-content: space-between; }
    .pagosFondo .pagos .wppFooter {
      width: 60px; }
    .pagosFondo .pagos .footerTexto {
      border: 1px dashed black;
      background-color: lightcyan;
      font-family: 'Emilys Candy',cursive;
      line-height: 22px;
      font-size: 20px;
      width: 280px; }
    .pagosFondo .pagos .tarjeta {
      width: 80px;
      margin-right: 5px;
      margin-left: 5px; }
    .pagosFondo .pagos .footerTextoDos {
      width: 250px; }
    .pagosFondo .pagos .candado {
      width: 40px;
      margin-left: 5px; }
    .pagosFondo .pagos .footerTextoTres {
      width: 200px; }

.copyright {
  text-align: right; }

/* MEDIA QUERIE TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  .logoPrincipal {
    width: 200px;
    padding-top: 40px;
    padding-right: 20px; }
  .tituloPrincipal {
    font-size: 95px;
    color: #9d4edd;
    width: 450px;
    text-align: center; }
  .wppFlotante {
    position: fixed;
    left: 0px; }
    .wppFlotante .wppParrafo {
      margin-left: 10px;
      width: 90px;
      background-color: antiquewhite; }
    .wppFlotante .wppLogo {
      width: 80px;
      height: 80px; }
  .subtitulos {
    font-size: 35px; }
  .gridIndex {
    grid-template-columns: 768px;
    grid-template-areas: "img" "text"; }
    .gridIndex .link {
      display: none; }
    .gridIndex .bordes {
      margin-top: 40px;
      width: 400px;
      height: 250px; }
    .gridIndex .imagenRepo {
      margin-top: 25px;
      margin-left: 180px; }
    .gridIndex .imagenDeco {
      margin-top: 24px;
      margin-left: 180px; }
    .gridIndex .imagenPorce {
      margin-top: 24px;
      margin-left: 180px; }
  .parrafosIndex {
    font-size: 22px;
    width: auto;
    height: auto;
    margin: 10px; }
  /*   .boton{
        position:relative;
        top: 10px;
        bottom: 150px;
        right: 300px;
        width: 300px;
        height: 100px;
    } */ }

/* MEDIA QUERIE CELULAR*/
@media (max-width: 480px) {
  .logoPrincipal {
    width: 100px;
    padding-top: 40px; }
  .tituloPrincipal {
    font-size: 50px;
    color: #9d4edd;
    width: 350px;
    margin-left: 80px;
    text-align: center; }
  .wppFlotante {
    position: fixed;
    left: 0px; }
    .wppFlotante .wppParrafo {
      margin-left: 10px;
      width: 90px;
      background-color: antiquewhite; }
    .wppFlotante .wppLogo {
      width: 60px;
      height: 60px; }
  .subtitulos {
    font-size: 25px; }
  .logoFinal {
    width: 290px;
    grid-area: logoFinal; }
  .iconosRedes {
    position: relative;
    left: 80px; }
  .gridIndex {
    grid-template-columns: 480px;
    grid-template-areas: "img"; }
    .gridIndex .text {
      display: none; }
    .gridIndex .link {
      display: none; }
    .gridIndex .bordes {
      width: 400px;
      height: 250px; }
    .gridIndex .imagenRepo {
      margin-top: 30px;
      margin-left: 40px; }
    .gridIndex .imagenDeco {
      margin-top: 24px;
      margin-left: 40px; }
    .gridIndex .imagenPorce {
      margin-top: 24px;
      margin-left: 40px; }
  .parrafosIndex {
    display: none; } }

/*----------------- MEDIA QUERIE FOOTER ------------------ */
@media (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "seguinos"; }
    .grid .google {
      display: none; }
    .grid .google {
      margin-top: 40px;
      width: 170px;
      height: 200px;
      margin-right: 15px;
      border-radius: 20px; }
    .grid .seguinos h2 {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 10px;
      text-align: center; }
    .grid .logoFinal {
      display: none; }
    .grid .iconosRedes {
      position: relative;
      left: 1px;
      margin-top: 11px;
      margin-bottom: 5px;
      margin-left: 140px; }
      .grid .iconosRedes .youtube {
        width: 50px; }
      .grid .iconosRedes .facebook {
        width: 50px; }
      .grid .iconosRedes .instagram {
        width: 50px; }
      .grid .iconosRedes .twitter {
        width: 50px; }
    .grid .wpp {
      position: relative;
      left: 90px;
      margin-left: 120px;
      height: 40px;
      width: 50px; }
  .pagosFondo .banner {
    width: 400px;
    height: auto;
    margin-left: 50px; }
  .pagosFondo .pagos {
    padding: 10px; }
    .pagosFondo .pagos .wppFooter {
      margin-top: 25px;
      width: 40px;
      height: 50px; }
    .pagosFondo .pagos .footerTexto {
      font-size: 15px;
      margin: 5px; }
    .pagosFondo .pagos .tarjeta {
      margin-top: 25px;
      width: 40px;
      height: 40px; }
    .pagosFondo .pagos .candado {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 45px;
      height: 50px; }
  .copyright {
    font-size: 10px; } }

/*------------------- MEDIA QUERIES FOOTER--------------------- */
@media (min-width: 481px) and (max-width: 768px) {
  .grid .google {
    margin-top: 40px;
    width: 170px;
    height: 200px;
    margin-right: 15px;
    border-radius: 20px; }
  .grid .seguinos h2 {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center; }
  .grid .logoFinal {
    display: flex;
    margin-top: 40px;
    margin-right: 15px;
    border-radius: 20px;
    width: 180px;
    height: 200px;
    padding-left: 15px; }
  .grid .iconosRedes {
    position: relative;
    padding: 10px;
    left: 30px; }
    .grid .iconosRedes .youtube {
      width: 70px; }
    .grid .iconosRedes .facebook {
      width: 70px; }
    .grid .iconosRedes .instagram {
      width: 70px; }
    .grid .iconosRedes .twitter {
      width: 70px; }
  .grid .wpp {
    position: relative;
    left: 140px;
    width: 70px; }
  .pagosFondo .banner {
    margin-left: 50px; }
  .pagosFondo .pagos {
    padding: 10px; }
    .pagosFondo .pagos .wppFooter {
      margin-top: 15px;
      width: 50px;
      height: 60px; }
    .pagosFondo .pagos .footerTexto {
      font-size: 15px;
      margin: 5px; }
    .pagosFondo .pagos .tarjeta {
      margin-top: 25px;
      width: 40px;
      height: 40px; }
    .pagosFondo .pagos .candado {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 45px;
      height: 50px; }
  .copyright {
    font-size: 10px; } }

.formulario div {
  margin-bottom: 20px; }

.formulario .parrafoFormu {
  font-family: 'Emilys Candy',cursive;
  border: 1px solid black;
  background-color: antiquewhite;
  font-size: 25px;
  text-align: center;
  width: 900px;
  margin-left: 70px;
  border-radius: 30px;
  padding: 20px; }

.formulario .separacion {
  margin-top: 20px;
  margin-bottom: 20px; }

.formulario .cajaSelect {
  margin-left: 300px;
  width: 300px; }

.formulario .bordeFormu {
  border: 1px dashed #413f3f;
  border-radius: 15px;
  padding: 15px;
  background-color: #a5a3a362; }

.formulario .cajaContacto {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 750px;
  height: 250px; }

.formulario .cajaArchivos {
  display: inline-block;
  width: 450px; }

.formulario .botonesContacto {
  margin-bottom: 20px; }

.botones {
  text-decoration: none;
  font-weight: 600px;
  font-size: 17px;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFD27D;
  border-color: #d8d8d8;
  border-width: 4px;
  border-style: solid;
  border-radius: 35px; }

/* MEDIA QUERIE CONTACTO */
@media (min-width: 481px) and (max-width: 768px) {
  .formulario .parrafoFormu {
    margin-left: 80px;
    font-size: 20px;
    width: 580px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .formulario .cajaContacto {
    width: 350px; }
  .formulario .parrafoCompletar {
    font-size: 20px; }
  .formulario .cajaSelect {
    margin-left: 150px;
    width: 250px; }
  .formulario .cajaArchivos {
    width: 350px; } }

@media (max-width: 480px) {
  .formulario .parrafoFormu {
    margin-left: 20px;
    font-size: 17px;
    width: 420px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .formulario .cajaContacto {
    width: 385px; }
  .formulario .parrafoCompletar {
    font-size: 16px; }
  .formulario .cajaSelect {
    margin-left: 110px;
    width: 150px;
    font-size: 10px; }
  .formulario .cajaArchivos {
    width: 350px; } }
