.formulario{
    div{
        margin-bottom: 20px;
    }
    .parrafoFormu{
        font-family:$fuenteParrafos;
        border: 1px solid black;
        background-color: $fondoTexto;
        font-size: 25px;
        text-align: center;
        width: 900px;
        margin-left: 70px;
        border-radius: 30px;
        padding: 20px;
    }
    .separacion{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cajaSelect{
        margin-left: 300px;
        width: 300px;
    } 
    .bordeFormu{
    border: 1px dashed rgb(65, 63, 63);
    border-radius: 15px;
    padding: 15px;
    background-color: #a5a3a362;
    }
    .cajaContacto{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 750px;
    height: 250px;
    }
    .cajaArchivos{
    display: inline-block;
    width: 450px;
    }
    .botonesContacto{
    margin-bottom: 20px;
    }
}
.botones{
    text-decoration:none;
    font-weight: 600px;
    font-size: 17px;
    color:#333333;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 4px;
    border-style: solid;
    border-radius:35px;
    }
/* MEDIA QUERIE CONTACTO */
@media (min-width:481px) and (max-width:768px) {
.formulario{
    .parrafoFormu{
        margin-left: 80px;
        font-size: 20px;
        width: 580px;
        margin-top: 30px;
        margin-bottom: 20px;
        } 
        .cajaContacto{
            width: 350px;
        }
        .parrafoCompletar{
            font-size: 20px;
        }
        .cajaSelect{
            margin-left:150px;
            width: 250px;
        }
        .cajaArchivos{
        width: 350px;
        }
    }
}
@media(max-width:480px){
.formulario{
    .parrafoFormu{
        margin-left: 20px;
        font-size: 17px;
        width: 420px;
        margin-top: 20px;
        margin-bottom: 20px;
        }
    .cajaContacto{
        width: 385px;
        }
    .parrafoCompletar{
        font-size: 16px;
        }
    .cajaSelect{
        margin-left:110px;
        width: 150px;
        font-size: 10px;
        } 
    .cajaArchivos{
        width: 350px;
        }
    }
}