section{
    .parrafosDeco{
        font-family:$fuenteParrafos;
        border: 2px solid $colorBordes;
        background-color: $fondoParrafo;
        font-size: $fuentePx;
        text-align: left;
        width: 77%;
        margin: 3% 10% 3% 10%;
        border-radius: 20px;
        padding: 10px;
    }
    .contenedorCarousel2{
        width: 50%;
        height: 50%;
        margin: 4% 10% 4% 25%;
        border: 2px solid $colorCarousel;
        border-radius: 20px;
        .img2{
            border-radius: 20px;
            width: 50%;
            height: 600px;
        }
    }
    .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 1020px;
        
        .pastel2{
            border:2px solid $colorBordes;
            border-radius: 25px;
            padding: 0px;
            margin: 3% 10% 3% 15%;
            height:400px; 
            width:360px;
        }
        .pastel3{
            border:2px solid $colorBordes;
            padding: 0px;
            border-radius: 25px;
            margin: 4% 10% 8% 15%;
            height: 400px;
            width: 360px;
        }
    }
}
/* -----------------------MEDIA QUERIE ESCRITORIO -------------------------------------*/
@media (min-width:769px) and (max-width:1024px){
    section{
        .parrafosDeco{
            width: 80%;
            font-size:22px;
        }
    }
}
/* ------------------ MEDIA QUERIE TABLET ------------------------ */
@media (min-width:481px) and (max-width:768px) {
    section{
        .parrafosDeco{
            font-size: 17px;
        }
        .contenedorCarousel2{
            border-radius: 20px;
            .img2{
                width: 400px;
                height: 400px;
                border-radius: 20px;
            }
        }
        .videos{
            max-width: 745px;
            .pastel2{
                width: 310px;
                height: 400px;
                margin-right: 2%;
            }
            .pastel3{
                margin-left:1%;
                margin-right:2%;
                width: 310px;
                height: 401px;
            }
        }
    }
}

/* ------------------MEDIA QUERIE CELULAR --------------------- */
@media(max-width:480px){
    section{
        .parrafosDeco{
            font-size: 17px;
            width: 80%;
            padding: 15px;  
        }
        .contenedorCarousel2{
            box-sizing: border-box;
            width: 75%;
            height: 256px;
            margin: 2% 4% 2% 12%;
            
            .img2{
                width: 251px;
                height: 251px;
                border-radius: 20px;
            }
        }
        .videos{
            background-color: beige;
            flex-wrap: wrap;
            max-width: 475px;
                .pastel2{
                margin-right: 15%;
                width: 330px;
                height: 500px;
                margin-left: 18%;
            }
                .pastel3{
                margin-right: 15%;
                width: 330px;
                height: 500px;
                margin-left: 18%;
            }
        }
    }
}