*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
.menu1{
    background: rgb(231,139,179);
    background: linear-gradient(342deg, 
    rgba(231,139,179,0.9716058298319328) 7%, 
    rgba(139,162,246,0.9716058298319328) 100%);
    font-size: 20px;
}
body{
    background-image: url("../img/fondo_liso.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-bottom:50px;
}
.dropdown-menu{
    background: rgb(231,139,179);
    background: linear-gradient(400deg, 
    rgba(231,139,179,0.9716058298319328) 40%, 
    rgba(139,162,246,0.9716058298319328) 80%);
    
    li{
        border-bottom: 1px solid rgb(185, 88, 185); 
    }
    :hover{
        background-color: lightblue;
    }
}

.carrito{
    width: 25px;
    height: 20px;
}
.logoPrincipal{
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    padding-right: 5px;
    padding-top:60px;
    padding-left: 5px;
    width: 250px;
}
.tituloPrincipal{
    font-family: 'Dynalight', cursive;
    font-size: 125px;
    font-weight: lighter;
    text-align: center;
    color: #9d4edd;
    padding: 20px;
    max-width:600px;
	margin:auto;
}
.wppFlotante{  
    position: fixed;
    z-index: 5000;
    left: 0px;
    .wppLogo{
        width: 80px;
        height: 80px;        
    }
    .wppParrafo{
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        padding:2px;
        width: 90px;
        margin-left: 10px;
    }
}
.subtitulos{
    background-color:antiquewhite ;
    text-align: center;
    font-size: 40px;
    font-family: 'Emilys Candy',cursive;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 8px;
}
.gridIndex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "img text" 
    "img  .";
    
    .img{
    grid-area: imagenGridindex;
    }
    .text{
    grid-area: textoGridindex;
    }
    .link{
    display: none;
    grid-area: linkGridindex;
    }
    .bordes{
    border-radius: 25px;
    border: 2.5px solid black;
    }
    .imagenRepo{
        margin-left: 20px;
        margin-top: 45px;
        height: 250px;
        width: 500px;
    }
    .imagenDeco{
        margin-left: 20px;
        height: 300px;
        width: 500px;
    }
    .imagenPorce{
        margin-left: 20px;
        margin-top: 40px;
        height: 250px;
        width: 500px;
    }
}
.link{
    text-align: center; 
    margin-bottom:25px
}

.parrafosIndex{
font-family:'Emilys Candy',cursive;
border: 1px solid black;
background-color: antiquewhite;
font-size: 30px;
margin: 30px;
} 
.bordesIndex{
border-radius: 25px;
border: 2.5px solid black;
line-height: 40px;
padding: 15px;  
}     
/*------------ FOOTER ----------------------*/

.grid{
    background: rgb(231,139,179);
    background: radial-gradient(circle, 
    rgba(231,139,179,1) 7%, 
    rgba(139,162,246,1) 100%);
    padding-top:20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: (3 440px);
    grid-template-rows: (1 1fr);
    
    grid-template-areas: 
    "google seguinos logoFinal"
    "google seguinos logoFinal"
    "google seguinos logoFinal"
    "google seguinos logoFinal";
    
    .google{
    grid-area:google;
    width:250px;
    height:250px;
    }
    .seguinos{
    grid-area:seguinos;
        H2{
        font-family:'Emilys Candy',cursive;
        font-size: 28px;
        text-align: center;
        margin-top: 20px;
        }
    }
    .logoFinal{
    width: 250px;
    grid-area:logoFinal;
    }
    .iconosRedes{
    position: relative;
    left: 100px;
        .youtube{
        width:80px;
        }
        .facebook{
        width:70px;
        }
        .instagram{
        width:80px;
        }
        .twitter{
        width:70px;
        }
    }
    .wpp{
    position: relative;
    left: 220px;
    width: 80px;
    }
}
.pagosFondo{
    background: rgb(231,139,179);
    background: radial-gradient(circle, 
    rgba(231,139,179,1) 7%, 
    rgba(139,162,246,1) 100%);
    .banner{
    width: 600px;
    height: auto;
    margin-left:230px;
    }
    .pagos{
    display:flex; 
    padding: 20px 20px; 
    border: 5px 5px;
    justify-content: space-between;
        .wppFooter{
        width: 60px;
        }
        .footerTexto{
        border: 1px dashed black;
        background-color: lightcyan;
        font-family: 'Emilys Candy',cursive;
        line-height: 22px;
        font-size: 20px;
        width: 280px;
        }
        .tarjeta{
        width: 80px;
        margin-right: 5px;
        margin-left: 5px;
        }
        .footerTextoDos{
        width: 250px;
        }
        .candado{
        width: 40px;
        margin-left:5px
        }
        .footerTextoTres{
        width: 200px;
        }
    }
}
.copyright{
    text-align:right;
}
/* MEDIA QUERIE TABLET */
@media (min-width:481px) and (max-width:768px) {
    .logoPrincipal{
        width: 200px;
        padding-top: 40px;
        padding-right: 20px;
    }
    .tituloPrincipal{
        font-size: 95px;
        color: #9d4edd;
        width: 450px;
        text-align: center;
    }
    .wppFlotante{
        position: fixed;
        left: 0px;
        .wppParrafo {
            margin-left: 10px;
            width: 90px;
            background-color: antiquewhite;
        }
        .wppLogo {
            width: 80px;
            height: 80px;
        }
    }
    .subtitulos{
        font-size: 35px;
    }
    .gridIndex{
        grid-template-columns:768px;
        grid-template-areas: 
        "img"
        "text";
        .link{
            display: none;
        }
        .bordes{
        margin-top: 40px;
        width: 400px;
        height: 250px;
        }
        .imagenRepo{
        margin-top: 25px;
        margin-left:180px;
        }
        .imagenDeco{
        margin-top: 24px;
        margin-left: 180px;
        }
        .imagenPorce{
        margin-top: 24px;
        margin-left: 180px;
        }
    }
    .parrafosIndex{
        font-size: 22px;
        width: auto;
        height: auto;
        margin: 10px;
    }
  /*   .boton{
        position:relative;
        top: 10px;
        bottom: 150px;
        right: 300px;
        width: 300px;
        height: 100px;
    } */
}

/* MEDIA QUERIE CELULAR*/  
@media(max-width:480px){ 
    .logoPrincipal{
        width: 100px;
        padding-top: 40px;
    }
    .tituloPrincipal{
        font-size: 50px;
        color: #9d4edd;
        width:350px;
        margin-left: 80px;
        text-align: center;
    }
    .wppFlotante{
        position: fixed;
        left: 0px;
        .wppParrafo{
            margin-left: 10px;
            width: 90px;
            background-color: antiquewhite;
        }
        .wppLogo{
            width: 60px;
            height: 60px;
        }
    }
    .subtitulos{
        font-size: 25px;
        }
    .logoFinal{
        width: 290px;
        grid-area:logoFinal;
    }
    .iconosRedes{
        position: relative;
        left: 80px
    }
    .gridIndex{
        grid-template-columns:480px;
        grid-template-areas: 
        "img";
        .text{
            display: none;
        }
        .link{
            display: none;
        }
        .bordes{
            width: 400px;
            height: 250px;
        }
        .imagenRepo{
            margin-top: 30px;
            margin-left:40px;
        }
        .imagenDeco{
        margin-top: 24px;
        margin-left: 40px;
        }
        .imagenPorce{
        margin-top: 24px;
        margin-left: 40px;
        }
    }
    .parrafosIndex{
        display: none;
    }
}
/*----------------- MEDIA QUERIE FOOTER ------------------ */
@media(max-width:480px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "seguinos";
        .google{
            display:none;
        }
        .google{
            margin-top: 40px;
            width: 170px;
            height: 200px;
            margin-right: 15px;
            border-radius: 20px;
        }
        .seguinos{
            h2{
            font-size: 20px;
            margin-left: 10px;
            margin-top: 10px;
            text-align: center;
            }
        }
        .logoFinal{
            display:none;
        }
        .iconosRedes{
            position: relative;
            left: 1px;
            margin-top: 11px;
            margin-bottom: 5px;
            margin-left: 140px;
                .youtube{
                width: 50px;
                }
                .facebook{
                width: 50px;
                }
                .instagram{
                width: 50px;
                }
                .twitter{
                width: 50px;
                }
        }
        .wpp{
            position: relative;
            left: 90px;
            margin-left: 120px;
            height: 40px;
            width: 50px;
            }
    }
    .pagosFondo{
        .banner{
            width: 400px;
            height: auto;
            margin-left:50px;
        }
        .pagos{
            padding: 10px;
            .wppFooter{
                margin-top:25px;
                width: 40px;
                height: 50px;
            }
            .footerTexto{
                font-size: 15px;
                margin: 5px;
            }
            .tarjeta{
                margin-top: 25px;
                width: 40px;
                height: 40px;
            }
            .candado{
                margin-top: 25px;
                margin-bottom: 25px;
                width: 45px;
                height: 50px;
            }
        } 
    }
    .copyright{
        font-size: 10px;
    }
}

/*------------------- MEDIA QUERIES FOOTER--------------------- */
@media (min-width:481px) and (max-width:768px){
    .grid{
        .google{
            margin-top: 40px;
            width: 170px;
            height: 200px;
            margin-right: 15px;
            border-radius: 20px;
            }
        .seguinos{
            h2{
            font-size: 25px;
            margin-left: 20px;
            margin-top: 10px;
            text-align: center;
            }
        }
        .logoFinal{
            display:flex;
            margin-top: 40px;
            margin-right: 15px;
            border-radius: 20px;
            width: 180px;
            height: 200px;
            padding-left: 15px;
        }
        .iconosRedes{
            position: relative;
            padding: 10px;
            left: 30px;
                .youtube{
                width: 70px;
                }
                .facebook{
                width: 70px;
                }
                .instagram{
                width: 70px;
                }
                .twitter{
                width: 70px;
                }
        }
        .wpp{
            position: relative;
            left: 140px;
            width: 70px;
            }
    }
    .pagosFondo{
        .banner{
            margin-left: 50px;
        }
        .pagos{
            padding: 10px;
            .wppFooter{
                margin-top:15px;
                width: 50px;
                height: 60px;
            }
            .footerTexto{
                font-size: 15px;
                margin: 5px;
            }
            .tarjeta{
                margin-top: 25px;
                width: 40px;
                height: 40px;
            }
            .candado{
                margin-top: 25px;
                margin-bottom: 25px;
                width: 45px;
                height: 50px;
            }
        } 
    }
    .copyright{
        font-size: 10px;
    }   
}
