*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
.menu1{

    background: rgb(231,139,179);
    background: linear-gradient(342deg, 
    rgba(231,139,179,0.9716058298319328) 7%, 
    rgba(139,162,246,0.9716058298319328) 100%);
    font-size: 20px;
}
.container-fluid{
  max-width: 100%;  
}
body{
   background-color: white;
}
.dropdown-menu{
    background: rgb(231,139,179);
    background: linear-gradient(400deg, 
    rgba(231,139,179,0.9716058298319328) 40%, 
    rgba(139,162,246,0.9716058298319328) 80%);
    
    li{
        border-bottom: 1px solid rgb(185, 88, 185); 
    }
    :hover{
        background-color: lightblue;
    }
}
hr{
    border: 1px dashed #9d4edd;
}   

.carrito{
    width: 25px;
    height: 20px;
}
.logoPrincipal{
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    padding-right: 5px;
    padding-top:60px;
    padding-left: 5px;
    width: 180px;
}
.tituloPrincipal{
    font-family: $fuenteTitulos;
    font-size: 90px;
    font-weight: lighter;
    text-align:center;
    color: $colorTitulos;
    padding: 20px;
    max-width:600px;
	margin:auto;
}

.wppFlotante{
    @include wppFixed(fixed,5000,0);
    .wppLogo{
        width: 80px;
        height: 80px;        
    }
    .wppParrafo{
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        padding:2px;
        width: 90px;
        margin-left: 10px;
    }
}
.subtitulos{
    background-color:$fondoTexto;
    text-align: center;
    font-size: 35px;
    font-family: $fuenteParrafos;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 8px;
}

.gridIndex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "img text" 
    "img  .";
    
    .img{
    grid-area: imagenGridindex;
    }
    .text{
    grid-area: textoGridindex;
    }
    .link{
    display: none;
    grid-area: linkGridindex;
    }
    .bordes{
    border-radius: 25px;
    border: 2px solid $colorBordes;
    }
    .imagenRepo{
        margin-left: 20px;
        margin-top: 20px;
        height: 250px;
        width: 70%;
    }
    .imagenDeco{
        margin-left: 20px;
        margin-top: 20px;
        height: 240px;
        width: 70%;
    }
    .imagenPorce{
        margin-left: 20px;
        margin-top: 30px;
        height: 240px;
        width: 70%;
    }
}
.link{
    text-align: center; 
    margin-bottom:25px;
}

.parrafosIndex{
    max-width: 95%;
font-family:$fuenteParrafos;
background-color: $fondoParrafo;
font-size: $fuentePx;
margin: 30px;
} 
.bordesIndex{
border-radius: 25px;
border: 2px solid $colorBordes;
line-height: 40px;
padding: 15px;  
}  
/*------------ FOOTER ----------------------*/
.container {
    max-width: 97%;
    display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "mapaGoogle redes"; 
    background-color: $fondoFooter;
    border:2px solid violet;
    border-radius: 20px;
    .mapaGoogle { 
        grid-area: mapaGoogle; 
        padding: 20px;
        margin-top:20px;
        width: 50%;
        height: 170px;
        .google{
            width: 170%;
            height: 270px;
        }
    }
        .redes{
        grid-area: redes; 
        display: grid; 
        grid-template-columns: 90%; 
        grid-template-rows: 0.6fr 1.4fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "tituloRedes"
        "iconosRedes"
        "iconosRedes"; 
        
        .tituloRedes { 
            grid-area: tituloRedes;
            font-family:$fuenteParrafos;
            font-size: map-get($estilos,fuente);
            text-align: map-get($estilos,alineacion );
            margin-top: map-get($estilos, margen-arriba );
            padding: 2%;
        }
        .iconosRedes{
            grid-area: iconosRedes; 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            top:10px;
            margin-bottom: 15%;
            a {
            text-decoration: none;
            }
            @each $key, $widht in $redes{
                .#{$key}{
                    width:$widht;
                }
            }
        }
    }
}
.pagosFondo{  
    margin-left: 10px;
    .banner{
        margin-right: 0.5%;
        width: 98%;
        height: 170px;
        padding-top: 15px;
    } 
}
.copyright{
    text-align:center;
    color: #000000;
}
/* -----------------------MEDIA QUERIE ESCRITORIO -------------------------------------*/
@media (min-width:769px) and (max-width:1024px){
    .gridIndex{
        .imagenRepo{
            margin-top:12%;
            width: 80%;
        }
        .imagenDeco{
            margin-top:12%;
            width: 80%
        }
        .imagenPorce{
            margin-top:15%;
            width: 80%;
        }
    }
}
/* -----------------------MEDIA QUERIE TABLET  -------------------------------------*/
@media (min-width:481px) and (max-width:768px) {
    .logoPrincipal{
        width: 128px;
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .tituloPrincipal{
        font-size: 70px;
        width: 450px;
        text-align: center;
    }
    .wppFlotante{
        position: fixed;
        left: 0px;
        .wppParrafo {
            margin-left: 10px;
            width: 90px;
        }
        .wppLogo {
            width: 80px;
            height: 80px;
        }
    }
    .subtitulos{
        font-size: 35px;
    }
    .gridIndex{
        grid-template-columns:768px;
        grid-template-areas: 
        "img"
        "text";
        .link{
            display: none;
        }
        .bordes{
        margin-top: 40px;
        width: 400px;
        height: 250px;
        }
        .imagenRepo{
        margin-top: 25px;
        margin-left:180px;
        }
        .imagenDeco{
        margin-top: 24px;
        margin-left: 180px;
        }
        .imagenPorce{
        margin-top: 24px;
        margin-left: 180px;
        }
    }
    .parrafosIndex{
        font-size: 20px;
        width:650px;
        height: auto;
        margin: 50px;
    }
}

/* --------------------------- MEDIA QUERIE CELULAR ------------------------------*/  
@media(max-width:480px){ 
    .logoPrincipal{
        width: 100px;
        padding-top: 40px;
    }
    .tituloPrincipal{
        font-size: 50px;
        width:350px;
        margin-left: 80px;
        text-align: center;
    }
    .wppFlotante{
        position: fixed;
        left: 0px;
        .wppParrafo{
            margin-left: 10px;
            width: 90px;
        }
        .wppLogo{
            width: 60px;
            height: 60px;
        }
    }
    .subtitulos{
        font-size: 25px;
        }
    .gridIndex{
        grid-template-columns:480px;
        grid-template-areas: 
        "img";
        .text{
            display: none;
        }
        .link{
            display: none;
        }
        .imagenRepo{
            margin-left:15%;
        }
        .imagenDeco{
            margin-left:15%;
        }
        .imagenPorce{
            margin-left:15%;
        }
    }
    .parrafosIndex{
        display: none;
    }
}
/* ------------------- MEDIA QUERIE MINI-CELULAR ---------------------*/
@media(max-width:320px){
    .tituloPrincipal{
        font-size: 50px;
        width: 250px;
    }
    .gridIndex{
        .imagenRepo{
            margin-left: 3%;
            width: 60%;
        }
        .imagenDeco{
            margin-left: 3%;
            width: 60%;
        }
        .imagenPorce{
            margin-left: 3%;
            width: 60%;
        }
    }
}

/*------------------- MEDIA QUERIES FOOTER TABLET--------------------- */
@media (min-width:481px) and (max-width:768px){
    
    .container{
        .mapaGoogle{
            .google{
                height: 220px;
            }
        }
        .iconosRedes{
                .youtube{
                width: 70px;
                }
                .facebook{
                width: 70px;
                }
                .instagram{
                width: 70px;
                }
                .twitter{
                width: 70px;
                }
        }
    }
    .copyright{
        font-size: 10px;
    }   
}

/*------------------------------ MEDIA QUERIE FOOTER CELULAR --------------------------- */
@media(max-width:480px){
    .container{
        grid-template-columns: 95%;
        grid-template-rows:180px 250px;
        grid-template-areas:
        "mapaGoogle"
        "redes";
        .mapaGoogle{
            padding: 10px;
            width: 100%;
            height: 170px ;
            .google{
                width: 99%;
                height: 140px;
            }
        }
        .redes{
            grid-template-columns: 400px;
            .tituloRedes{
                font-size: 50px;
                padding: 0%;
            }
            .iconosRedes{
            position: relative;
            left: 1px;
            justify-content:space-evenly;
            align-items: start;
            height: 100px;
            margin-bottom: 0%;
                .youtube{
                width: 50px;
                }
                .facebook{
                width: 50px;
                }
                .instagram{
                width: 50px;
                }
                .twitter{
                width: 50px;
                }
            }
        }
    }
    
    .copyright{
        text-align: center;
        font-size: 8px;
        }
}
/* ------------------- MEDIA QUERIE FOOTER MINI-CELULAR ---------------------*/
@media(max-width:320px){
    .container{
        .redes{
            grid-template-columns: 300px;
        }
    }
    .pagosFondo{
            .banner{
                height: 150px;
            }
        }
    }
