section{
    .parrafoPorce{ 
        font-family:$fuenteParrafos;
        border: 2px solid $colorBordes;
        background-color:$fondoParrafo;
        font-size: $fuentePx;
        margin: 30px;
        text-align: left;
        width: 77%;
        margin: 3% 10% 2% 12%;
        border-radius: 30px;
        padding: 20px;
    }
}

/* ------------------  MEDIA QUERIE TABLET-------------------- */
@media (min-width:481px) and (max-width:768px) {
    section{
        .parrafoPorce{
            padding: 10px 10px 10px 10px;
            font-size: 18px;
            } 
            
    }
}
/* ------------------MEDIA QUERIE CELULAR --------------------- */
@media(max-width:480px){
    section{
        .parrafoPorce{
            padding-top: 5px;
            width: 80%;
            margin-left: 8%;
            font-size: 17px;
        } 
        
    }
}