section{
    .parrafosRepo{
        font-family:$fuenteParrafos;
        border: 1.5px solid $colorBordes;
        border-radius: 22px;
        background-color: $fondoParrafo;
        font-size: $fuentePx;
        text-align: center;
        width: 60%;
        height: 50%;
        margin: 4% 10% 3% 20%;
        padding: 10px;
    }
    .contenedorCarousel1{
        width: 60%;
        height: 50%;
        margin: 4% 10% 4% 20%;
        border: 2.5px solid $colorCarousel;
        border-radius: 30px;
        .img1{
            border-radius: 30px;
            width: 500px;
            height: 450px;
        }
    }
    .escribinos{
        font-family:$fuenteParrafos;
        border: 1.5px solid $colorBordes;
        background-color: $fondoParrafo;
        font-size: 20px;
        margin: 4% 10% 3% 20%;
        text-align: center;
        border-radius: 30px;
        padding:10px 10px 10px 10px;
        width: 60%;
        height: 20%;
        }
    .video1{
        .pastel1{
            margin: 3% 15% 3% 38%;
            border-radius: 30px;
            height:445px;
            width:345px;
        }
        .boton2{
            display: none;
        }
    }
}
/* -----------------------MEDIA QUERIE ESCRITORIO -------------------------------------*/
@media (min-width:769px) and (max-width:1024px){
    section{
        .parrafosRepo{
            font-size:22px;
        }
        .video1{
            .pastel1{
            margin-left: 350px;
            }
            .boton2{
            display:none;
            }
        }
    }
}
/* --------------- MEDIA QUERI TABLET ----------------- */
@media (min-width:481px) and (max-width:768px) {
section{
        .parrafosRepo{
        font-size: 18px;
        }
        .escribinos{
        font-size: 18px;
        }
        .video1{
            .pastel1{
            margin-left: 25%;
            width: 400px;
            height: 350px;
            }
            .boton2{
            display: none;
            }
        }
    }
}

/* ------------------MEDIA QUERIE CELULAR --------------------- */
@media(max-width:480px){
    section{
        .parrafosRepo{
            width: 80%;
            height: 410px;
            margin: 4% 5% 2% 9%;
            font-size: 17px;
        }
        .contenedorCarousel1{
            width: 70%;
            height: 256px;
            margin: 2% 4% 2% 12%;
            border-radius: 20px;
            .img1{
                width: 250px;
                height: 250px;
                border-radius: 20px;
            }
        }
        .escribinos{
            font-size: 17px;
            width: 90%;
            margin: 2% 2% 2% 4%;
        }
        .video1{
            background-color: beige;
            .pastel1{
                margin: 2% 10% 2% 18%;
                width: 300px;
                height: 345px;
            }
            .boton2{
                display: none;
            }
        }
    }
}
/* ------------------- MEDIA QUERIE CELULAR  MEDIUM ---------------------*/

@media(max-width:375px){
    section{
        .parrafosRepo{
            font-size: 14px;
            height: 370px;
        }
    }
}
/* ------------------- MEDIA QUERIE MINI-CELULAR ---------------------*/
@media(max-width:320px){
    section{
        .video1{
            .pastel1{
                display:none;
            }
            .boton2{
                display: block;
                width: 150px;
                margin-left:25%;
            }
        }
    }
}